---
layout: default
---

<div class="home">

  <div class="post-list">
    {% for post in paginator.posts %}
		<div class="post-preview">
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
			    <h2>
			      {{ post.title }}
			    </h2>
			    {% if post.subtitle %}
			    <h3>
			    	{{ post.subtitle }}
			    </h3>
			    {% endif %}
			    <div class="post-content-preview">
			        {{ post.content | strip_html | truncate:200 }}
			    </div>
			</a>
			<p class="post-meta">
				Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
			</p>
		</div>		
		<hr />
    {% endfor %}
  </div>
  <ul class="pager index-nav">
  	{% if paginator.previous_page %}
  	<li class="previous">
  		<a href="{{ paginator.previous_page_path }}">最新风貌</a>
  	</li>
  	{% endif %}
  	{% if paginator.next_page %}
  	<li class="next">
  		<a href="{{ paginator.next_page_path }}">历史烟云</a>
  	</li>
  	{% endif %}
  </ul>
</div>
